*{
	margin: 0;
	padding: 0;
}
html, body{
	/*width: 100%;*/
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
h1{
	font-family: DaftFont;
}
@font-face{
	font-family: DaftFont;
	src: url(fonts/DaftFont.TTF);
	font-weight: normal;
	font-style: normal;
}

/*Background image class */
.background{
	/*width: 100%;*/
	height: 89%;
	background-image: url(../images/daft0.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}
.nav{
	width: 350px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 0;
}
.nav a{
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	height: 90px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
	width: 90%;
}

.content{
	position: absolute;
	width: 1500px;
	min-height: 250px;
	height: auto;
	/*background-color: red;*/
	right: 0;
	top: 10%;
}

.home{
	position: absolute;
	right: 0;
	bottom: -500px;
	color: white;
	font-family: verdana;
}
.home h2{
	font-size: 95px;
	padding-right: 100px;
	border-bottom: 1px solid white;
}

.home h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}


.about{
	position: absolute;
	right: 0;
	top: 10px;
	color: white;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}
.about p{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
}
.gallery{
	position: absolute;
	right: 0;
	top: 10px;
	color: white;
	padding: 0 60px;
	display: none;
}
.gallery .pictures{
	width: 20%;
	margin: 1%;
	float: left;
}
.pictures img{
	width: 100%;
}








/* Patsys logo*/
.col-sm-12 h1{
	text-align: center;
	position: relative;
}
#titleText{
	font-size: 80px;
}
#glowing{
	font-size: 80px;
  	color: #fff;
  	/*#fc0398*/
  	text-align: center;
  	-webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  	from {
   	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
 	}
  
  	to{
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  	}
}