body{
  background-color: #040323;
  padding: 0px;
  margin: 0px;
}
header{
  background-color: #040323;
  padding: 0px;
  margin: 0px;
}
h1{
	font-family: DaftFont;
  font-size: 80px;
}
h2{
  font-family: DaftFont;
  font-size: 60px;
  padding-bottom: 20px;
}

@font-face{
	font-family: DaftFont;
	src: url(fonts/DaftFont.TTF);
	font-weight: normal;
	font-style: normal;
}
.row{
  padding: 0px;
  margin:0px;
}
.navbar{
  width: 20%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0;
}

.navbar a{
  text-decoration: none;
  font-size: 20px;
  font-family: DaftFont;
  font-weight: bold;
  height: 60px;
  margin: 5px 0;
  float: left;
  display: inline-block;
  background-color: #040323
  color: #ff4da6;
  line-height: 60px;
  text-align: center;
  transition: 300ms;
  position: relative;
}
a.active, .navbar a:hover{
  background-color: #ff4da6;
  color: #040323;
  width: 100%;
}
.a{
  width: 80%;
}
.b{
  width: 80%;
}
.c{
  width: 80%;
}
.d{
  width: 80%;
}

.content{
  position: relative;
  width: 100%;
  /*min-height: 250px;*/
  height: auto;
  /*background-color: red;*/
  right: 0;
  top: 10%;
}
.home{
  position: relative;
  right: 0px;
  bottom: -25px;
  color: white;
  font-family: verdana;
}
.home h2{
  font-size: 100px;
  padding-right: 10px;
  border-bottom: 1px solid white;
}

.home h3{
  font-size: 30px;
  padding-bottom: 40px;
  opacity: 0.6;
}


/*CSS for first image on page*/
#hero{
  padding-top: 5%;
  padding-bottom: 17%;
  padding-right: 0px;
  padding-left: 0px;
}
.heroImage{
    height: 500px;
  	background-image: url("../images/daft2.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 100%;
}
.col-sm-12 h1{
	text-align: center;
	position: relative;
}
#titleText{
	font-size: 80px;
}
#glowing{	
  	color: #fff;
  	text-align: center;
  	-webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  	from {
   		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
 	 }
  
  	to{
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  	}
}

/*Biography*/
.about{
  position: relative;
  right: 0;
  top: 10px;
  color: white;
  font-family: century gothic;
  padding: 100px;
}
.about p{
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 25px;
}


/*END: CSS for first image on page*/
/*Gallery Carousel*/
.containerPadding{
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 0px;
    padding-bottom: 17%;
}
.containerMusicVideo{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    padding-bottom: 20px;
}
/*Footer CSS*/
.col-sm-1{
  text-align: center;
  position: relative;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}
#footerFont svg{
  color: #ff4da6;
  -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
}
#footerFont svg:hover{
  color: white;
}
