body{

}
h1{
	font-family: DaftFont;
}

@font-face{
	font-family: DaftFont;
	src: url(fonts/DaftFont.TTF);
	font-weight: normal;
	font-style: normal;
}
/*CSS for first image on page*/
.heroImage{
	height: 500px;
  	background-image: url("../images/daft2.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 100%;
}
.col-sm-12 h1{
	text-align: center;
	position: relative;
}
#titleText{
	font-size: 80px;
}
#glowing{
	font-size: 80px;
  	color: #fff;
  	/*#fc0398*/
  	text-align: center;
  	-webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  	from {
   		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
 	 }
  
  	to{
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  	}
}
/*END: CSS for first image on page*/ 